{
   "plugins": ["prettier-plugin-tailwindcss"],
   "tailwindFunctions": ["clsx", "cn", "twMerge", "cva"],
   "printWidth": 100,
   "tabWidth": 3,
   "semi": false,
   "trailingComma": "es5",
   "singleQuote": true
}
